html
  head
    title topic

  body
    h1
      a(href='/topic') Topic
    ol
      each val in list
        li
          a(href='/topic/' + val.id)= val.title
    h2 Are You Sure?
    form(action='/topic/' + id + '/delete' method ='post')
      p
        input(type='submit' value='YES')
      p
        a(href='/topic') NO
