html
  head
    title topic
  body
    h1
      a(href='/topic') Topic
    ol
      each val in list
        li
          a(href='/topic/' + val.id)= val.title

    if(topic)
      article
        h2= topic.title
        p= topic.description
        p= topic.author

    ul
      li
        a(href='/topic/add') Add New Topic
      if(topic)
        li
          a(href='/topic/' + topic.id + '/edit') Edit Selected Topic
        li
          a(href='/topic/' + topic.id + '/delete') Delete Selected Topic
