html
  head
    title Topic
  body
    h1
      a(href='/topic') Topic List!
    ol
      each val in list
        li
          a(href='/topic/' + val.title)= val.title

    form(action='/topic/add' method='post')
      p
        input(type='text' name='title' placeholder='helo')
      p
        textarea(name='desc')
      p
        input(type='submit')
